REQ-ID:
Description:
Type:
Rationale:
Originator:
Comments: [M814-ModuleChair] Copy this template below to add new requirements.


REQ-ID: M814-17K-MT-FRANCOISVILJOEN-A
Description: The product shall determine the start and end date of the Holiday.
Type: 9a – Functional Requirement
Rationale: To understand what the ideal date range is during which the Holiday Maker wants to occupy a Holiday Property and match this information with property availability.
Originator: Ayisha Jayakodi - Agent


REQ-ID: M814-17K-MT-FRANCOISVILJOEN-B
Description: If the desired holiday dates are not available on the viewed property, the product shall recommend alternate dates and destinations.
Type: 9a – Functional Requirement
Rationale: So that the potential customer can still find a suitable Holiday Destination (and be retained as business) even though his ideal location may not be available during the times chosen.
Originator: Alisha Jayakodi - Agent


REQ-ID: M814-17K-SP-STEVENPLUMMER-1
Description: The product shall store the availability of each property
Type: Functional
Rationale: So that prospective holidaymakers can search for suitable properties based on date of availability
Originator: Ayisha Jayakodi (Agent)


REQ-ID: M814-17K-SP-STEVENPLUMMER-2
Description: The product shall store the rental price of a property
Type: Functional
Rationale: So that prospective holidaymakers can search for suitable properties to rent based on their budget
Originator: Ayisha Jayakodi (Agent)


REQ-ID: M814-17K-SP-ALEXANDERBOGDANOV-1
Description: The product shall compare the owners desired price of the property to similar properties in the same area
Type: Functional
Rationale: So that Ayisha Jayakodi can propose a price to the owner
Originator: Ayisha Jayakodi (Agent)


REQ-ID: M814-17K-SP-ALEXANDERBOGDANOV-2
Description: The product shall generate a contract document to be signed with the owner of the property
Type: Functional
Rationale: So that Ayisha Jayakodi can generate contract documents
Originator: Ayisha Jayakodi (Agent)


REQ-ID: M814-17K-garymathers-1
DESCRIPTION: Include storage of information for each house advertised including images.
RATIONALE: Information gathered by the agency will allow them on their first visits of a property to record information about rooms, heating, and services available making information more accessible to potential holidaymakers.
ORINGINATOR: Ayisha Jayakodi


REQ-ID: M814-17K-garymathers-2
DESCRIPTION: Website should list available properties with option to filter by price, rooms amount or location, on dates holiday makers wishes to book.
RATIONALE: Holiday makers can quickly see availability of rentals at the size, location and price range that suits.
ORINGINATOR: Ayisha Jayakodi


REQ-ID: M814-17K-jenniferday-2
DESCRIPTION: The product shall only allow one booking per available room or property at a time
TYPE: Functional
RATIONALE: Only one booking per room, or property should be allowed, to prevent duplicate bookings
ORINGINATOR: Ayisha Jayakodi


REQ-ID: M814-17K-DJ-001
Description: The product shall record the dates that the property owner will be away from the property
Type: Functional
Rationale: The property owner might request that the property is prepared by a property services company if they are not available before a holidaymaker arrives
Originator: Ayisha Jayakodi


REQ-ID: M814-17K-DJ-002
Description: The product shall notify the property agent if there are properties to be serviced in the upcoming week
Type: Functional
Rationale: The agent will need to schedule a third party company to complete the service
Originator: Ayisha Jayakodi



