REQ-ID:
Description:
Type:
Rationale:
Originator:
Comments: [M814-ModuleChair] Copy this template below to add new requirements.

REQ-ID: M814-17K-MT-FRANCOISVILJOEN-A
Description: The product shall determine the start and end date of the Holiday.
Type: 9a – Functional Requirement
Rationale: To understand what the ideal date range is during which the Holiday Maker wants to occupy a Holiday Property and match this information with property availability.
Originator: Ayisha Jayakodi - Agent

REQ-ID: M814-17K-MT-FRANCOISVILJOEN-B
Description: If the desired holiday dates are not available on the viewed property, the product shall recommend alternate dates and destinations.
Type: 9a – Functional Requirement
Rationale: So that the potential customer can still find a suitable Holiday Destination (and be retained as business) even though his ideal location may not be available during the times chosen.
Originator: Ayisha Jayakodi - Agent

REQ-ID: M814-17K-JaroslavPetrovskij-1
Description: The product shall accept rental property search criteria: type, location, size, price range.
Type: Functional
Rationale: So that a user could indicate what property he/she wishes to rent.
Originator: Ayisha Jayakodi - Agent

REQ-ID: M814-17K-JaroslavPetrovskij-2
Description: The product shall display rental properties matching search criteria.
Type: Functional
Rationale: So that a user could decide which property he/she is interested in.
Originator: Ayisha Jayakodi - Agent

REQ-ID: M814-17K-SP-STEVENPLUMMER-1
Description: The product shall store the availability of each property
Type: Functional
Rationale: So that prospective holidaymakers can search for suitable properties based on date of availability
Originator: Ayisha Jayakodi (Agent)

REQ-ID: M814-17K-SP-STEVENPLUMMER-2
Description: The product shall store the rental price of a property
Type: Functional
Rationale: So that prospective holidaymakers can search for suitable properties to rent based on their budget
Originator: Ayisha Jayakodi (Agent)

REQ-ID: M814-17K-MARIOBARANZINI-1
Description: The product shall record the desired price range, data range, and location.
Type: Functional
Rationale: To be able to search properties that match the customer’s desire.
Originator: Ayisha Jayakodi (Agent)

REQ-ID: M814-17K-MARIOBARANZINI-2
Description: The product shall return a list of available properties within the given price range, date range and location.
Type: Funtional
Rationale: To be able to propose a choice of appropriate properties.
Originator: Ayisha Jayakodi (Agent)
